doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='http://code.jquery.com/jquery-3.2.1.js')
		script(src='http://code.jquery.com/ui/1.12.1/jquery-ui.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js')
		link(href='https://fonts.googleapis.com/css?family=Orbitron', rel='stylesheet')
	style.
		.cylinders_value_text {
			font-family: 'Orbitron', sans-serif;
			font-size: 24px;
			font-weight: 700;
			color: #980BFC;
		}
	body(class=className)

	script(src="http://d3js.org/d3.v3.min.js")
	script(src='/javascripts/market_new.js')
	#cylinder0_value(style='width:66px;position: absolute;top: 326px;left: 202px;text-align:center;')
		p.cylinders_value_text 0
	#cylinder1_value(style='width:66px;position: absolute;top: 326px;left: 303px;text-align:center;')
		p.cylinders_value_text 0
	#cylinder2_value(style='width:66px;position: absolute;top: 326px;left: 404px;text-align:center;')
		p.cylinders_value_text 0
	#cylinder3_value(style='width:66px;position: absolute;top: 326px;left: 505px;text-align:center;')
		p.cylinders_value_text 0
	#cylinder4_value(style='width:66px;position: absolute;top: 326px;left: 606px;text-align:center;')
		p.cylinders_value_text 0
	#cylinder5_value(style='width:66px;position: absolute;top: 326px;left: 707px;text-align:center;')
		p.cylinders_value_text 0
	#cylinder6_value(style='width:66px;position: absolute;top: 326px;left: 808px;text-align:center;')
		p.cylinders_value_text 0
	#cylinder7_value(style='width:66px;position: absolute;top: 326px;left: 909px;text-align:center;')
		p.cylinders_value_text 0
	#cylinder8_value(style='width:66px;position: absolute;top: 326px;left: 1010px;text-align:center;')
		p.cylinders_value_text 0
	#cylinder9_value(style='width:66px;position: absolute;top: 326px;left: 1111px;text-align:center;')
		p.cylinders_value_text 0
		
	div.current_value
		center#valueNum.bigNumbers

	div.num_capsules
		center#quantityNum.bigNumbers

	div.barchart_data
		overflow: hidden

	div.barchart_active
		overflow: hidden

	div.barchart_inactive
		overflow: hidden
