div.current_value {
position: absolute;
top: 222px;
left: 600px;
width: 319px;
height: 112px;
border: 0px solid #00FFFF;
}

div.num_capsules {
position: absolute;
top: 222px;
left: 944px;
width: 239px;
height: 112px;
border: 0px solid #00FFFF;
}

div.graph {
position: absolute;
top: 400px;
left: 110px;
width: 239px;
height: 112px;
border: 0px solid #00FFFF;
}

/*
div.body {
position: absolute;
top: 0px;
left: 0px;
width: 1280px;
height: 800px;
border: 0px solid #00FFFF;
}
*/


.market_explosion, body {
  font: 12px "Orbitron", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #FF1A1A;
  background-image: url(/images/market2bg_explosion.png);
}

.market1, body {
  font: 12px "Orbitron", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #FF4AFF;
  background-image: url(/images/market1bg.png);
}

.market2, body {
  font: 12px "Orbitron", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #00FFFF;
  background-image: url(/images/market2bg.png);
}

.market3, body {
  font: 12px "Orbitron", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #FFD400;
  background-image: url(/images/market3bg.png);
}

.market4, body {
  font: 12px "Orbitron", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #00FF00;
  background-image: url(/images/market4bg.png);
}

a {
  color: #00B7FF;
}
path { 
  stroke: #00FFFF;
  stroke-width: 3;
  fill: none;
}
 
.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 0;
	shape-rendering: crispEdges;
}

.axis text{
  fill: #00FFFF;
}

.bigNumbers {
  font-size: 4.5em;
}

#statusWrapper div {
  float:left;
  padding: 30px;
}