<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Orbitron:700|Titillium+Web:600" rel="stylesheet">
    <style>
        body {
            width: 1280px;
            height: 800px;
            background-image: url('background.png');
            background-repeat: no-repeat;
        }

        .cylinders_value_text {
            font-family: 'Orbitron', sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: #980BFC;
        }
		
		.stacks {
		    width: 42px;
		    height: 270px;
		}
		
        .rectangle {
            background-color: rgb(152, 11, 252);
            width: 42px;
            height: 5px;
            border-radius: 9px;
            margin-bottom: 4px;
        }
		
        .dimrectangle {
            background-color: rgba(152, 11, 252, 0.4);
            width: 42px;
            height: 5px;
            border-radius: 9px;
            margin-bottom: 4px;
        }

        .blankrectangle {
            background-color: rgba(152, 11, 252, 0);
            width: 42px;
            height: 5px;
            border-radius: 9px;
            margin-bottom: 4px;
        }
		
		.hundred {
            color: rgb(152, 11, 252);
            font-family: 'Titillium Web', sans-serif;
            font-weight: 600;
            font-size: 18px;
		}
		
        .dimhundred {
            color: rgba(152, 11, 252, 0.4);
            font-family: 'Titillium Web', sans-serif;
            font-weight: 600;
            font-size: 18px;
        }

    </style>
</head>
<body>
   

    <div id="cylinder1_value" style="width:66px;position: absolute;top: 326px;left: 202px;text-align:center;">
      <p class="cylinders_value_text">161</p>
    </div>
    
    <div id="cylinder2_value" style="width:66px;position: absolute;top: 326px;left: 303px;text-align:center;">
        <p class="cylinders_value_text">121</p>
    </div>
    
    <div id="cylinder3_value" style="width:66px;position: absolute;top: 326px;left: 404px;text-align:center;">
        <p class="cylinders_value_text">110</p>
    </div>
    
    <div id="cylinder4_value" style="width:66px;position: absolute;top: 326px;left: 505px;text-align:center;">
        <p class="cylinders_value_text">100</p>
    </div>
    
    <div id="cylinder5_value" style="width:66px;position: absolute;top: 326px;left: 606px;text-align:center;">
        <p class="cylinders_value_text">0</p>
    </div>
    
    <div id="cylinder6_value" style="width:66px;position: absolute;top: 326px;left: 707px;text-align:center;">
        <p class="cylinders_value_text">0</p>
    </div>
    
    <div id="cylinder7_value" style="width:66px;position: absolute;top: 326px;left: 808px;text-align:center;">
        <p class="cylinders_value_text">0</p>
    </div>
    
    <div id="cylinder8_value" style="width:66px;position: absolute;top: 326px;left: 909px;text-align:center;">
        <p class="cylinders_value_text">0</p>
    </div>
    
    <div id="cylinder9_value" style="width:66px;position: absolute;top: 326px;left: 1010px;text-align:center;">
        <p class="cylinders_value_text">0</p>
    </div>
    
    <div id="cylinder10_value" style="width:66px;position: absolute;top: 326px;left: 1111px;text-align:center;">
        <p class="cylinders_value_text">0</p>
    </div>
    
    <div id= "cylinder1_0" class="stacks" style="width: 42px;position: absolute;left: 214px;top: 404px;">
        <p class="dimhundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
    
    <div id= "cylinder2_0" class="stacks" style="width: 42px;position: absolute;left: 315px;top: 404px;">
        <p class="dimhundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
    
    <div id= "cylinder3_0" class="stacks" style="width: 42px;position: absolute;left: 416px;top: 404px;">
        <p class="dimhundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
    
    <div id= "cylinder4_0" class="stacks" style="width: 42px;position: absolute;left: 517px;top: 404px;">
        <p class="dimhundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
    
    <div id= "cylinder5_0" class="stacks" style="width: 42px;position: absolute;left: 618px;top: 404px;">
        <p class="dimhundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
    
    <div id= "cylinder6_0" class="stacks" style="width: 42px;position: absolute;left: 719px;top: 404px;">
        <p class="dimhundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
    
    <div id= "cylinder7_0" class="stacks" style="width: 42px;position: absolute;left: 820px;top: 404px;">
        <p class="dimhundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
    
    <div id= "cylinder8_0" class="stacks" style="width: 42px;position: absolute;left: 921px;top: 404px;">
        <p class="dimhundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
    
    <div id= "cylinder9_0" class="stacks" style="width: 42px;position: absolute;left: 1022px;top: 404px;">
        <p class="dimhundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
    
    <div id= "cylinder10_0" class="stacks" style="width: 42px;position: absolute;left: 1123px;top: 404px;">
        <p class="dimhundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
  
    <div id= "cylinder1_100" class="stacks" style="width: 42px;position: absolute;left: 214px;top: 404px;">
        <p class="hundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
    </div>
    
	<div id= "cylinder2_100" class="stacks" style="width: 42px;position: absolute;left: 315px;top: 404px;">
        <p class="hundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
    </div>
    
	<div id= "cylinder3_100" class="stacks" style="width: 42px;position: absolute;left: 416px;top: 404px;">
        <p class="hundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
    </div>
    
    <div id= "cylinder4_100" class="stacks" style="width: 42px;position: absolute;left: 517px;top: 404px;">
        <p class="hundred" style="position: absolute;left: 5px;top: 75px;">100</p>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="blankrectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle">
        </div>
    </div>
    
    <div id= "cylinder1_161" class="stacks" style="width: 42px;position: absolute;left: 214px;top: 404px;">
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
    
    <div id= "cylinder2_121" class="stacks" style="width: 42px;position: absolute;left: 315px;top: 485px;">
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
    
    <div id= "cylinder3_110" class="stacks" style="width: 42px;position: absolute;left: 416px;top: 503px;">
        <div class="dimrectangle">
        </div>
        <div class="dimrectangle">
        </div>
    </div>
</body>
</html>