doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/socket.io.min.js')
    link(href='https://fonts.googleapis.com/css?family=Orbitron:700|Titillium+Web:600', rel='stylesheet')
    style.
      body {
      width: 1280px;
      height: 800px;
      background-image: url('/images/market1bg.png');
      background-repeat: no-repeat;
      }
      .cylinders_value_text {
      font-family: 'Orbitron', sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #980BFC;
      }
      .stacks {
      width: 42px;
      height: 270px;
      }
      .rectangle {
      background-color: rgb(152, 11, 252);
      width: 42px;
      height: 5px;
      border-radius: 9px;
      margin-bottom: 4px;
      }
      .dimrectangle {
      background-color: rgba(152, 11, 252, 0.4);
      width: 42px;
      height: 5px;
      border-radius: 9px;
      margin-bottom: 4px;
      }
      .blankrectangle {
      background-color: rgba(152, 11, 252, 0);
      width: 42px;
      height: 5px;
      border-radius: 9px;
      margin-bottom: 4px;
      }
      .hundred {
      color: rgb(152, 11, 252);
      font-family: 'Titillium Web', sans-serif;
      font-weight: 600;
      font-size: 18px;
      }
      .dimhundred {
      color: rgba(152, 11, 252, 0.4);
      font-family: 'Titillium Web', sans-serif;
      font-weight: 600;
      font-size: 18px;
      }
  body
    #cylinder1_value(style='width:66px;position: absolute;top: 326px;left: 202px;text-align:center;')
      p.cylinders_value_text 161
    #cylinder2_value(style='width:66px;position: absolute;top: 326px;left: 303px;text-align:center;')
      p.cylinders_value_text 121
    #cylinder3_value(style='width:66px;position: absolute;top: 326px;left: 404px;text-align:center;')
      p.cylinders_value_text 110
    #cylinder4_value(style='width:66px;position: absolute;top: 326px;left: 505px;text-align:center;')
      p.cylinders_value_text 100
    #cylinder5_value(style='width:66px;position: absolute;top: 326px;left: 606px;text-align:center;')
      p.cylinders_value_text 0
    #cylinder6_value(style='width:66px;position: absolute;top: 326px;left: 707px;text-align:center;')
      p.cylinders_value_text 0
    #cylinder7_value(style='width:66px;position: absolute;top: 326px;left: 808px;text-align:center;')
      p.cylinders_value_text 0
    #cylinder8_value(style='width:66px;position: absolute;top: 326px;left: 909px;text-align:center;')
      p.cylinders_value_text 0
    #cylinder9_value(style='width:66px;position: absolute;top: 326px;left: 1010px;text-align:center;')
      p.cylinders_value_text 0
    #cylinder10_value(style='width:66px;position: absolute;top: 326px;left: 1111px;text-align:center;')
      p.cylinders_value_text 0
    #cylinder1_0.stacks(style='width: 42px;position: absolute;left: 214px;top: 404px;')
      p.dimhundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder2_0.stacks(style='width: 42px;position: absolute;left: 315px;top: 404px;')
      p.dimhundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder3_0.stacks(style='width: 42px;position: absolute;left: 416px;top: 404px;')
      p.dimhundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder4_0.stacks(style='width: 42px;position: absolute;left: 517px;top: 404px;')
      p.dimhundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder5_0.stacks(style='width: 42px;position: absolute;left: 618px;top: 404px;')
      p.dimhundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder6_0.stacks(style='width: 42px;position: absolute;left: 719px;top: 404px;')
      p.dimhundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder7_0.stacks(style='width: 42px;position: absolute;left: 820px;top: 404px;')
      p.dimhundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder8_0.stacks(style='width: 42px;position: absolute;left: 921px;top: 404px;')
      p.dimhundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder9_0.stacks(style='width: 42px;position: absolute;left: 1022px;top: 404px;')
      p.dimhundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder10_0.stacks(style='width: 42px;position: absolute;left: 1123px;top: 404px;')
      p.dimhundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder1_100.stacks(style='width: 42px;position: absolute;left: 214px;top: 404px;')
      p.hundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
    #cylinder2_100.stacks(style='width: 42px;position: absolute;left: 315px;top: 404px;')
      p.hundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
    #cylinder3_100.stacks(style='width: 42px;position: absolute;left: 416px;top: 404px;')
      p.hundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
    #cylinder4_100.stacks(style='width: 42px;position: absolute;left: 517px;top: 404px;')
      p.hundred(style='position: absolute;left: 5px;top: 75px;') 100
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .blankrectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
      .rectangle
    #cylinder1_161.stacks(style='width: 42px;position: absolute;left: 214px;top: 404px;')
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder2_121.stacks(style='width: 42px;position: absolute;left: 315px;top: 485px;')
      .dimrectangle
      .dimrectangle
      .dimrectangle
      .dimrectangle
    #cylinder3_110.stacks(style='width: 42px;position: absolute;left: 416px;top: 503px;')
      .dimrectangle
      .dimrectangle
